/* for testing */


.solidrojo{
  border: solid 1px red !important;
}





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-azul: #40a2e3;
  --color-crema: #fff6e9;
  --color-celeste: #bbe2ec;
  --color-verde: #0d9276;
}

body {
  color: white !important;
  background-color: #000000 !important;
background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png") !important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.breadcrumb-item a, .breadcrumb-item  {
color: white !important;
text-decoration: none !important;
}
.breadcrumb-item a:hover{
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.88) !important;
  color: white !important;
}


.glass{
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.77) !important;
  color: rgb(251, 249, 249) !important;
}

.nav-link:hover {
  color: #000000 !important;
  text-decoration: underline!important;
  text-decoration: none !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.305) !important;
  transition: .2s ease-in-out;
  font-weight: bolder;
  
}
header nav {
  background-color: var(--color-azul);
  color: var(--color-crema);
}
.navbar-nav {
  width: 80%;
  /* border: solid 1px red; */
}

.twitter-icon svg {
  fill: #1da1f2; /* Color de Twitter */
}

.instagram-icon svg {
  fill: #c13584; /* Color de Instagram */
}

.facebook-icon svg {
  fill: #1877f2; /* Color de Facebook */
}

/* COLORES BG */
header{
  background-color: #F4CE14 !important;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png") !important;
  color: rgb(0, 0, 0);
}
header div{
  color: black;
}

a:hover{
  color: red !important;
}